body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.filter-button {
  display: inline-block;
  color: rgb(21, 15, 188);
  text-decoration: none;
}

.filter-button:hover {
  text-decoration: underline;
}

.filter-button:active {
  background-color: darkviolet;
  color: white;
  transform: scale(0.95);
  user-select: none;
}

.active-button {
  border: 1px solid red;
}

.filter-header {
  font-weight: bold;
}
